<form [formGroup]="registerForm">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                REGISTRO
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-form-field>
                    <input placeholder="username" formControlName="username" matInput type="text">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input placeholder="user@mail.com" formControlName="email" matInput type="email">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input placeholder="password" formControlName="password" matInput type="password">
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
</form>