<mat-horizontal-stepper>
    <mat-step>
        <ng-template matStepLabel> Sus productos </ng-template>
        <div *ngIf="(products$ | async | groupBy ) as products">
            <p *ngIf="products.length == 0"> No hay productos </p>
            <div class="row" *ngFor="let product of products">
                <!-- <mat-card class="card">
                    <img mat-card-image class="image" [src]="product.image" alt="Imagen de producto">
                    <mat-card-content class="content">
                        <div class="box">
                            {{ product.count }}
                        </div>
                        <div class="box">
                            {{ product.title }}
                        </div>
                        <div class="box">
                            {{ product.price }}
                        </div>
                    </mat-card-content>
                    <mat-card-actions class="actions">
                         <button mat-button> LIKE </button> 
                        <button mat-button> Eliminar </button>
                    </mat-card-actions>
                </mat-card> -->

                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="box">
                        <img class="image" [src]="product.image" alt="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 ">
                    <div class="box count">
                        <button mat-mini-fab color="primary" (click)="decreaseProduct(product.id)">-</button>
                        {{ product.count }}
                        <button mat-mini-fab color="accent" (click)="increaseProduct(product.id)">+</button>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4">
                    <div class="box">
                        {{ product.title }}
                    </div>
                </div>
                <div class="col-xs-6 col-sm-2 col-md-2">
                    <div class="box">
                        {{product.price}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="box">
                        <button mat-raised-button color="warn"> Eliminar </button>
                    </div>
                </div>
            </div>

        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel> Datos personales </ng-template>
        <h1>Contenido</h1>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel> Pago </ng-template>
        <h1>Contenido</h1>
    </mat-step>

</mat-horizontal-stepper>