<div *ngIf="product">
    <div>
        <img [src]="product.image" alt="">
    </div>
    <div>
        <ul>
            <li>Nombre: {{ product.title }}</li>
            <li>Precio: {{ product.price | currency }}</li>
        </ul>
        <p *ngIf="product.description.length >= 20; then thenBlock else elseBlock"></p>
        <ng-template #thenBlock> {{ product.description | slice:0:20}}... </ng-template>
        <ng-template #elseBlock> {{ product.description}} </ng-template>
    </div>
    <button (click)="createProduct()"> Crear </button>
    <button (click)="updateProduct()"> Editar </button>
    <button (click)="deleteProduct()"> Eliminar </button>
</div>